

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.cmmpyprofilesettinng {
     border: 1px solid #E6E6E6;
    background-color: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
    padding: 14px 16px 14px 16px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 12px;
}
.cfnnysthead {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #262626;
    font-size: 14px;
    line-height: 14px;
}
.cfnnystheadlabel {
      color: #262626;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 0px;
}
.cfnnystheadinput {
      background-color: #FBFBFB;
  border: 1px solid #C2C2C2;
  border-radius: 8px;
  padding: 10px;
  outline: none;
    color: #676767;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px
}
.cfnnystheadlabeldesc {
    color: #888888;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    font-family: "Roboto", sans-serif;
    margin-top: 6px;
}
.company-images-upload-btn {
    font-family: "Roboto", sans-serif;
    color: #1368EC;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    
}
