/* .securitychangepassword-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.securitychangepassword-modal {
  background-color: white;
  border-radius: 8px;
  width: 480px;
  max-width: 95%;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.securitychangepassword-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.securitychangepassword-close {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.securitychangepassword-body .securitychnagelabel {
  display: block;
  margin-bottom: 15px;
  font-weight: 500;
}

.securitychangepassword-body .required {
  color: red;
}

.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 5px;
  background-color: #fff;
}

.input-wrapper .changepasswrdinput {
  border: none;
  outline: none;
  flex: 1;
  padding: 8px;
}

.input-wrapper .changepasswrdspan {
  cursor: pointer;
  color: #555;
}

.securitychangepassword-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.cancel-btn {
  background-color: #002d56;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn {
  background-color: #f7941e;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */


.pphnne-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.pphnne-modal {
  background: #fff;
  border-radius: 6px;
  width: 500px;
  max-width: 95%;
  padding: 20px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.1);
}

.pphnne-title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}

.pphnne-input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 10px;
  margin-top: 5px;
  background: #fff;
}

.pphnne-input-wrapperinput {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
}

.pphnne-input-wrapper span {
  cursor: pointer;
  color: #666;
}

.pphnne-footer {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 15px;
}

.pphnne-cancel {
  border: none;
  background: #f1f1f1;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.pphnne-update {
  border: none;
  background: black;
  color: white;
  padding: 6px 14px;
  border-radius: 4px;
  cursor: pointer;
}

