@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.page-wrapper {
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 8px;
  padding: 14px 16px 14px 16px;
  font-family: "Roboto", sans-serif;
}
.pgetiterole {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.page-btn {
  background-color: #1368ec;
  border: 1px solid #1450ae;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;
}
.crdrd {
  border: none;
}

.search-inputsrch {
  border: 1px solid #e6e6e6;
  color: #676767;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  font-family: "Roboto", sans-serif;
  padding: 10px 16px 10px 16px;
  width: 360px;
  border-radius: 4px;
  outline: none;
}
.alio {
  color: #e6e6e6;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
